:root{
    --h: 10%;
    --f: 8%;
    --fc: rgb(163, 181, 182);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v94/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.i {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

button{
    border: 0;
    outline: 0;
}

input[type=checkbox] {
    display: none;
}

html, body{
    font-family: sans-serif;
    height: 100%;
    margin:0;
    padding:0;
}

body, header, footer, article, article > div, nav{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header{
    background: var(--fc);
    align-self: flex-start;
    width:100%;
    height:var(--h);
}

nav {
    margin-right:auto;
    margin-left:2%;
    height:100%;
}

nav > label{
    font-size:25pt;
    background :none;
}

nav > label :hover{
    cursor: pointer;
}

header > ul {
    display:none;
    position:absolute;
}

header > span{
    margin-right:55%;
}
header > span > a{
    font-size : 20pt;
    color: black;
    text-decoration: none;
}

article{
    width:100%;
    height:calc(100% - var(--h) - var(--f));
}

article > div{
    width:100%;
}

#_ib{
    height:10%;
    align-self: flex-end;
}

#_ib > label{
    width:100%;
}

#_ob{
    width:100%;
    height:50%;
    align-self: flex-start;
}

#_ot{
    width:50%;
    height:100%;
    font-size:12pt;
}

footer{
    background:var(--fc);
    align-self:flex-end;
    width:100%;
    height:var(--f);
}