.m-a > div{
    width:100%;
    text-align: center;
}

:root{
    --fc: rgb(4, 22, 22);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v94/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.i {
    font-family: 'Material Icons';
}

a{
    text-decoration: none;
    color: white;
}

button{
    border: 0;
    outline: 0;
}

input[type=checkbox] {
    display: none;
}

html, body{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    height: 100%;
    margin:0;
    padding:0;
}

header{
    background: var(--fc);
    width:100%;
    height:12%;
}

#title{
    font-size: 25px;
    font-weight: bold;
    color:white;
    position: absolute;
    top: 20px;
    left: 25%;
}

nav {
    margin-right:auto;
    margin-left:2%;
    height:100%;
}

nav > label{
    font-size:25pt;
    font-weight: normal;
    background :none;
}

nav > label :hover{
    cursor: pointer;
}

header > ul {
    display:none;
    position:absolute;
}

article{
    text-align: center;
    width:100%;
}

article::after{
    content: "";
    background: rgba(0,100,0,0.3);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

article table{
    border-collapse: collapse;
    display: inline-block;
}

table td{
    margin: 0%;
    padding: 0%;
    background: #fff;
    border: 1px solid #000;
}

td>input{
    padding: 0%;
    background: transparent;
    cursor: cell;
    border: none;
    margin: auto;
    width: 10%;
    max-width: 100px;
}

td>input:focus{
    outline: none;
}

article > div{
    display: inline-block;
    width:55%;
    padding: 30px;
    background: rgba(0,10,0,0.9);
}

article textarea{
    width:100% !important;
    height:50% !important;
    min-height: 500px;
    font-size:12pt;
    border: none;
    border-radius: 0%;
}

article textarea:focus{
    outline: none;
}

footer{
    background:var(--fc);
    width:100%;
    height:12%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer > div{
    display: inline-block;
    width: calc(55% - 60px);
    padding: 30px;
    font-weight: normal;
    text-align: end;
}

footer>div>a{
    text-decoration: underline;
}
