.m-a{
    width:100%;
}

:root{
    --h: 10%;
    --f: 8%;
    --fc: rgb(4, 22, 22);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v94/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.i {
    font-family: 'Material Icons';
}

a{
    text-decoration: none;
    color: white;
}

button{
    border: 0;
    outline: 0;
}

input[type=checkbox] {
    display: none;
}

html, body{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    height: 100%;
    margin:0;
    padding:0;
}

header{
    background: var(--fc);
    align-self: flex-start;
    width:100%;
    height:var(--h);
}

article table{
    border: 0;
    border-collapse: collapse;
    width:100%;
}

article td{
    margin: 0%;
    padding: 0%;
}

td>input{
    margin: 0%;
    padding: 0%;
}

#title{
    font-weight: bold;
    color:white;
    position: absolute;
    top: 0;
    left: 5%;
}

nav {
    margin-right:auto;
    margin-left:2%;
    height:100%;
}

nav > label{
    font-size:25pt;
    font-weight: normal;
    background :none;
}

nav > label :hover{
    cursor: pointer;
}

header > ul {
    display:none;
    position:absolute;
}

header > span{
    margin-right:55%;
}
header > span > a{
    font-size : 20pt;
    color: black;
    text-decoration: none;
}

article{
    width:100%;
    height:calc(100% - var(--h) - var(--f));
}

article::after{
    content: "";
    background: rgba(0,100,0,0.3);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

article > div{
    width:55%;
    padding: 30px;
    height:100%;
    background: rgba(0,10,0,0.9);
}

#_fi{
    display: none;
}

#_ob{
    width:100%;
    height:50%;
    align-self: flex-start;
}

#_ot{
    width:100%;
    height:100%;
    font-size:12pt;
}

footer{
    background:var(--fc);
    align-self:flex-end;
    width:100%;
    height:var(--f);
}

footer > div{
    justify-content: flex-end;
    width: calc(55% - 60px);
    padding: 30px;
    font-weight: normal;
}

footer>div>a{
    text-decoration: underline;
}
