:root{
    --h: 10%;
    --f: 8%;
    --fc: rgb(4, 22, 22);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v94/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.i {
    font-family: 'Material Icons';
}

button{
    border: 0;
    outline: 0;
}

input[type=checkbox] {
    display: none;
}

html, body{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    height: 100%;
    margin:0;
    padding:0;
}

body, header, footer, article, article > div, nav, #_ib{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header{
    background: var(--fc);
    align-self: flex-start;
    width:100%;
    height:var(--h);
}

#title{
    font-weight: bold;
    color:white;
}

nav {
    margin-right:auto;
    margin-left:2%;
    height:100%;
}

nav > label{
    font-size:25pt;
    font-weight: normal;
    background :none;
}

nav > label :hover{
    cursor: pointer;
}

header > ul {
    display:none;
    position:absolute;
}

header > span{
    margin-right:55%;
}
header > span > a{
    font-size : 20pt;
    color: black;
    text-decoration: none;
}

article{
    width:100%;
    height:calc(100% - var(--h) - var(--f));
}

article::after{
    content: "";
    background-image: url('../static/main.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

article > div{
    width:55%;
    padding: 30px;
    height:100%;
    background: rgba(0,10,0,0.9);
}

#_ib{
    width: 300px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    align-self: flex-end;
    margin-bottom: 30px;
    justify-content: space-between;
}

#_ib > input{
    border:none;
    background:none;
    margin:3px;
    padding:3px;
    border-radius:5px;
    font-size:20px;
    cursor: pointer;
}

#_ib > label:hover{
    background: rgb(133, 133, 133);
}

#_ib > label{
    border: none;
    background: white;
    color: black;
    cursor: pointer;
}

#_fi{
    display: none;
}

#_ob{
    width:100%;
    height:50%;
    align-self: flex-start;
}

#_ot{
    width:100%;
    height:100%;
    font-size:12pt;
}

footer{
    background:var(--fc);
    align-self:flex-end;
    width:100%;
    height:var(--f);
    justify-content: flex-end;
}
footer > div{

}